extends layout

block content
  h1 Info
  p.lead Nevšední zážitková hra v přírodě
  hr
  .row
    .col-md-12
      h2 Organizační
      p Místo: Staré Hutě, Morava.
      p Datum: Neupřesněno
      h2 Co to bude
      p Akční terénní hra. 
      p
        a.btn.btn-raised(href='#', role='button') View details »
