extends layout

block content
  if !authenticated
    h1 #{game.name}
    p.lead Nevšední zážitková hra v přírodě
    hr
    .row
        .col-md-12
        h2 Intro
        each p in game.intro
          p #{p}
  else
    .row
      .col-md-12
        h1 Primus proctectus
        p Vítejte ve svém osobním profilu
        p Abychom Vám mohli nabídnout práci, která Vám bude nejlépe vyhovovat, vyplňte, prosím, osobní informace ve svém
          a(href="/account") profilu

